services:
  devcontainer:
    build:
      context: .
      dockerfile: Dockerfile
    volumes:
      - ..:/workspace:cached
      - devcontainer-bashhistory:/commandhistory
      - devcontainer-nuget:/home/vscode/.nuget
      # Mount Docker socket to allow Aspire to manage containers
      - /var/run/docker.sock:/var/run/docker.sock
    privileged: true
    network_mode: host
    command: sleep infinity

# Note: Ollama and Qdrant containers are managed by .NET Aspire AppHost
# They will be started automatically when running the Aspire project

volumes:
  devcontainer-bashhistory:
  devcontainer-nuget:
